* {
    margin: 0px;
    padding: 0px;
}

.paginaPrincipal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.paginaPrincipal header,
.paginaPrincipal footer {
    width: 100%;
    background-color: #1579cab6;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorWhite {
    color: #ffffff;
    font-size: 30px;
}

.centrar {
    justify-content: center;
    align-items: center;
    display: flex;
}
